section {
	padding:2em 0;
}


.recentphotos {
  li {
    @include rowGrid(4,0);
	}
}

.faq {
	padding:4em 0;
	li {
		@include rowGrid(3,4%);
	}
}

.mainnav {
  padding:0;
  ul {
    float:right;
  li {
    float:left;
    width:auto;
    margin-bottom:0 !important;
    margin-right:0 !important;
    text-align: center;
    a {
      padding:2em 1em;
    }
  }
}

	.logo {
		float: left;
		width:auto;
    max-width:20%;
	}
}

#promotions-slider {

  .flex-direction-nav {
      display:inline-block;
    }
  .slides {

      p{
        width:50%;
      }
    }
  }


.col2 {
  li{
    @include rowGrid(2,3%);
  }
}


.flex-direction-nav a{

  &.flex-prev {
    left:30px;
    &:hover{
      left:27px
    }

  }
  &.flex-next {
    right:30px;
    &:hover {
      right:27px;
    }

  }
}


.flexslider {

  .slides {
    li {

      padding:11em 0em;

    }
  }
}


.gallery {
  li {
    height:400px;
    @include rowGrid(2,0);
    .meta {
      
      a {
        h1 {
          font-size: 2em;
        }
      }
    }
    }
  }

  .recent {
    position: absolute;
    bottom:20px;
    width:100%;
  }



.image-callout {
  &.col2{
    li {
      @include rowGrid(2,0);
    }
  }
}


.galleries {
  .gallery {
    li{
      @include rowGrid(4,0);
 
      img{
        width:100% !important;
      }
    }
  }
}
