.recentphotos {
  li {
    @include rowGrid(6,0);
	}
}


.col4 {
  li {
    @include rowGrid(3,3%);
  }
}

.content {
	padding: 3em 0;
}


.flex-direction-nav a{

  &.flex-prev {
    left:200px;
    &:hover{
      left:191px
    }

  }
  &.flex-next {
    right:200px;
    &:hover {
      right:191px;
    }

  }
}


.galleries {
  .gallery {
    li{
      @include rowGrid(6,0);
 
      img{
        width:100% !important;
      }
    }
  }
}
