@font-face {
  font-family: 'Klinic-Bold';
  src: url('/resources/fonts/KlinicSlabBold.otf') format('opentype');
}

@font-face {
  font-family: 'Klinic-Book';
  src: url('/resources/fonts/KlinicSlabBook.otf') format('opentype');
}

@font-face {
  font-family: 'Klinic-Book-it';
  src: url('/resources/fonts/KlinicSlabBooklt.otf') format('opentype');
}

@font-face {
  font-family: 'Klinic-Medium';
  src: url('/resources/fonts/KlinicSlabMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Klinic-Medium-it';
  src: url('/resources/fonts/KlinicSlabMediumIt.otf') format('opentype');
}


@font-face {
  font-family: 'icomoon';
  src:url('/resources/fonts/icomoon.eot?1zi4ry');
  src:url('/resources/fonts/icomoon.eot?#iefix1zi4ry') format('embedded-opentype'),
    url('/resources/fonts/icomoon.woff?1zi4ry') format('woff'),
    url('/resources/fonts/icomoon.ttf?1zi4ry') format('truetype'),
    url('/resources/fonts/icomoon.svg?1zi4ry#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
