.mainnav {
	.logo {
		margin-top:1em;
		display: inline-block;
		&:hover {
			@include opacity(.7);
		}
	}
@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			a {
				padding:2em 1em;
				color:$primary;
				font-size: 16px;
				font-weight: 300;
				display:inline-block;
				@include transition(.4);
				margin:0;
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}