* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline:0 !important;
}

.cf:before,
.cf:after {
@extend %clearfix;
}

html {
  font-size: 1em;
}
/* RESPONSIVE IMAGES */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

body {
  background:white url('/resources/img/bg.jpg') repeat;
  padding:0;
}

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

.footer {
  p,a{
    font-size: 18px;
    color:#626262;
    font-weight: 800;
  }
  a{
    margin:0 5px;
      &:hover {
      @include opacity(.8);
    }
  }
  padding:4em 0 2em;
  h2 {
    color:white;
    margin:1em 0;
  }
  .main-form {
    textarea {
      min-height:0;
      height:63px;
    }
    .submit{
      @include button(white);
      width:auto;
    }
    input,textarea{
      margin-bottom:1em;
      background:rgba(0,0,0,.5);
      color:white;
      height:63px;
      @include transition(.5s);
      &:focus {
        background:rgba(0,0,0,.4);
      }
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,255,255,.7);

    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 17 */
        color: rgba(255,255,255,.7);
    
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: rgba(255,255,255,.7);
    
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgba(255,255,255,.7);
    
    }
  }
  .wrap {
    background:rgba(0,0,0,.4);
    padding:1em;
    margin-bottom:2em;
  }
  text-align: center;
  background: white url('/resources/img/footerbg.png') no-repeat;
  background-size:cover;
}

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


.hero{
  padding:0;
  width:100%;
  &.flexsider {
    margin:0;
  }
  h1 {
    font-size: 3.5em;
    color:rgba(255,255,255,.8);
    text-transform: uppercase;
  }
  a, a:visited {
    color:inherit;
  }
  .button {
    color:white;
    font-size: 1.5em;
    padding:.35em 1.5em;
    border:solid 2px white;
    background:url('/resources/img/button-txtr.png');
    background-size:cover;
  }
}
.flexslider {
  border:0;
  box-shadow:none;
  margin:0;
  .slides {
    li {
      background-size:cover;
      background-position:center bottom;
      padding:3em 1em;
      text-align: center;
      margin:0;
    }
  }
}

#promotions-slider {
  background:transparent;
  .flex-direction-nav {
      display:none;
    }
  .slides {

    li {
      padding:3em 0;
      background:transparent;
      h2 {
        font-size: 3em;
        color:$secondary;
        font-family: $body;
        margin-bottom:10px;
      }
      h3 {
        margin:0 0 10px;
      }
      p{
        font-size: 1.25em;
        margin:0 auto;
      }
    }
  }
}

.specials {
  background:url('/resources/img/promotion_bg.png')no-repeat;
  background-size:cover;
  text-align: center;
  min-height:520px;
  position: relative;
  .flex-control-nav {
    display:none;
  }
}



.flex-direction-nav a{
  opacity:1;
  z-index:1000;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; 
  font-size:5em;
  color:$secondary;
  text-indent: 0;
  &.flex-prev {
    left:200px;
    &:hover{
      left:191px
    }
    &:after {
      content: "\e600";

    }
  }
  &.flex-next {
    right:200px;
    &:hover {
      right:191px;
    }
    &:after {
      content: "\e601";

    }
  }
}

.recentphotos {
  margin:0;
  padding:0;
  ul {
    padding:0;
    margin:0;
  }
  li {
    padding:0;
    margin:0;
    display:inline-block;
    @include rowGrid(3,0);
    display:block;
    float:left;
    @include transition(all .4s);
    @include opacity(.6);
    &:hover {
      @include opacity(1);
    }
  }
}

.faq {
  padding:4em 2em;
  h2 {
    text-align: center;
  }
   li {
      float:left;
      @include rowGrid(1,3%);
    }
  ul {
    list-style-image: url('/resources/img/badge.png');
 
  }
}

.mainnav {
  padding:2em 0;
  ul {
    float:none;
  li {
    float:left;
    @include rowGrid(2,3%);
    text-align: center;
    a {
      padding:20px;
    }
  }
}
  .logo {
    float:none;
    width: 100%;
    text-align: center;
  }
}


.col4 {
  li {
    float:left;
    @include rowGrid(1,3%);
  }
}

.col2 {
  li {
    float:left;
    @include rowGrid(1,3%);
  }
}

.image-callout {
  &.col2{
    li {
      @include rowGrid(1,0);
    }
  }
}

.interior {
  .hero {
    li {
      padding:8em 0;
      text-align: center;
      background-size:cover;
      background-position:center;
    }
  }
}

.content {
  padding:3em 2em;
}


/* IMAGE ALIGNMENTS */

.floatleft { float: left; margin: 0px 20px 20px 0px; }
.floatright { float: right; margin: 0px 0px 20px 20px;}

.galleries {
  .gallery {
    li{
      @include rowGrid(2,0);
      height:auto;
      border:0;
      border-radius:0;
      box-shadow:none;
    }
  }
}


.gallery {
  li {
    @include rowGrid(2,0);
      margin-bottom:1em;
      display: inline-block;
      float:left;
      height:200px;
      background-size:cover;
      background-repeat:no-repeat;
      position: relative;
      overflow: hidden;
      @include opacity(.8);
      
      @include transition(all .3s);
      &:hover {
        box-shadow:0 0 10px rgba(0,0,0,.7);
        @include opacity(1);
        .meta {
          bottom:0;
        }
      }
    .meta {
      @include transition(all .3s);
      background:rgba(255,255,255,.9);
      position: absolute;
      bottom:0px;
      text-align: center;
      width:100%;
      display: table; 
        a {
          display:table-cell;
          vertical-align:middle;
          h1,p {
            font-weight: 100;
          }
          h1 {
            font-size: 21px;
          }
        }
      
      
    }
  }
}