body {
  font: 100%/1.5 $body;
  color: $primary;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  line-height: 1.2;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  color: $secondary;
  font-weight: 600;
}

h2 {
  color:$dark;
  font-weight: 600;
  font-size: 1.5em
}

h3 {
  color:$dark;
  font-weight: 300;
  font-size: 1.5em
}

/* PARAGRAPH */

p,li, a {
  font-family: $body;
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  font-weight: 600;
  &,&:visited{
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
}
  &:hover {
    @include opacity(.8);
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}


.button {
  font-family: $button;
  padding:.5em 2.5em;
  border:solid 2px $primary;
  border-radius:3px;
  display:inline-block;
  @include transition(all .3s);
  color:$primary;
  margin:1em 0;
  text-transform: lowercase;
  font-size: 1.5em;
  background: url('/resources/img/button-txtr-main.png');
  background-size:cover;
  &:visited {
    color:$primary;
  }
  &:hover {
    opacity:.5;
    color:$primary;
  }
}



.ico-left-arrow:before {
  content: "\e600";
}
.ico-right-arrow:before {
  content: "\e601";
}
.ico-zoomin:before {
  content: "\e602";
}
.ico-zoomout:before {
  content: "\e603";
}
.ico-chat:before {
  content: "\e604";
}
.ico-heart:before {
  content: "\e605";
}
.ico-phone:before {
  content: "\e606";
}
.ico-envelope:before {
  content: "\e607";
}
.ico-facebook:before {
  content: "\e608";
}
.ico-instagram:before {
  content: "\e609";
}
.ico-twitter:before {
  content: "\e60a";
}
.ico-flickr:before {
  content: "\e60b";
}
