// COLOR PALETTE
$primary: #7f7c74;
$secondary: #8a1f1f;
$hover: #505050;
$dark: #484848;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;

// FONT STACKS
$heading: 'Source Sans Pro', sans-serif;
$body: 'Merriweather', serif;
$medium: 'Merriweather', serif;
$button: 'Merriweather', serif;

