        <script src="/resources/js/libs/respond.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/fancybox.js"></script>

        <script>
        $(window).load(function() {
                $('#hero-slider').flexslider({
                    animation: "fade",
                    animationSpeed: 1000,
                });
                $('#promotions-slider').flexslider({
                    touch: true,
                });
                $("img.thumb").lazyload({
                    effect : "fadeIn"
                });
                $(".fancybox").fancybox();
                
            });
        </script>

    </body>
</html>