<li style="background-image:url('[[+gallery-header]]');">
    <a href="[[~[[+id]]]]" title="[[+menutitle]]">
        <h1>[[+pagetitle]]</h1>
        <p class="button viewalbum">view album</p>
    </a>
</li>