<section class="footer">
    <div class="wrap row-fluid">
        <h2>Let us help tell your story</h2>
        <form class="main-form homepage-form row-fluid" action="post" method="post"  >
            <div class="row-fluid">
                <div class="span4">
                    <input type="text"  id="first_name" name="first_name"  placeholder="Name">
                </div>
                <div class="span4">
                    <input type="text" id="last_name" name="last_name"  placeholder="Email">
                </div>
                <div class="span4">
                    <textarea row-fluid="1" value="[[!+fi.comments]]" id="comments" name="comments" placeholder="Message"></textarea>
                </div>
            </div>
            <input class="button submit" type="submit" value="Send along" />

        </form>
    </div>
    <a style="font-size: 24px;" target="_blank" href="[[++facebook]]" class="ico-facebook"></a>
    <a style="font-size: 24px;" target="_blank" href="[[++pinterest]]" class="ico-pinterest"></a>
    <p>&copy;2014 [[++site_name]]</p>
</section>