        <nav class="mainnav">
            <div class="row-fluid wrap">
                <a href="/" class="logo">
                    <img src="/resources/img/logo.png" alt="">
                </a>
                [[Wayfinder? 
                    &level=`1`
                    &startId=`0`
                    &innerTpl=`nav_innner`
                    &outerTpl=`nav_outer`
                    &sortBy=`menuindex`
                    &excludeDocs=`1`
                ]]
            </div>
        </nav>