@charset "UTF-8";
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
/* line 17, ../sass/vendor.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 20, ../sass/vendor.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 24, ../sass/vendor.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/vendor.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 26, ../sass/vendor.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 27, ../sass/vendor.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 30, ../sass/vendor.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 31, ../sass/vendor.scss */
html[xmlns] .slides {
  display: block;
}

/* line 32, ../sass/vendor.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 37, ../sass/vendor.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 42, ../sass/vendor.scss */
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}

/* line 43, ../sass/vendor.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 44, ../sass/vendor.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 45, ../sass/vendor.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 47, ../sass/vendor.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 51, ../sass/vendor.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 52, ../sass/vendor.scss */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}

/* line 53, ../sass/vendor.scss */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}

/* line 54, ../sass/vendor.scss */
.flex-direction-nav .flex-prev {
  left: -36px;
}

/* line 56, ../sass/vendor.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 57, ../sass/vendor.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 60, ../sass/vendor.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 61, ../sass/vendor.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 62, ../sass/vendor.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 63, ../sass/vendor.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 64, ../sass/vendor.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 66, ../sass/vendor.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 67, ../sass/vendor.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 68, ../sass/vendor.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 69, ../sass/vendor.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 70, ../sass/vendor.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 73, ../sass/vendor.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }

  /* line 74, ../sass/vendor.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
/* ANIMATE.CSS */
/* line 82, ../sass/vendor.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 85, ../sass/vendor.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 96, ../sass/vendor.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes flash {
  /* line 104, ../sass/vendor.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 105, ../sass/vendor.scss */
  25%, 75% {
    opacity: 0;
  }
}

@-moz-keyframes flash {
  /* line 109, ../sass/vendor.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 110, ../sass/vendor.scss */
  25%, 75% {
    opacity: 0;
  }
}

@-o-keyframes flash {
  /* line 114, ../sass/vendor.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 115, ../sass/vendor.scss */
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  /* line 119, ../sass/vendor.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 120, ../sass/vendor.scss */
  25%, 75% {
    opacity: 0;
  }
}

/* line 123, ../sass/vendor.scss */
.animated.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes shake {
  /* line 130, ../sass/vendor.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 131, ../sass/vendor.scss */
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }

  /* line 132, ../sass/vendor.scss */
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 136, ../sass/vendor.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 137, ../sass/vendor.scss */
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }

  /* line 138, ../sass/vendor.scss */
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  /* line 142, ../sass/vendor.scss */
  0%, 100% {
    -o-transform: translateX(0);
  }

  /* line 143, ../sass/vendor.scss */
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }

  /* line 144, ../sass/vendor.scss */
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 148, ../sass/vendor.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 149, ../sass/vendor.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 150, ../sass/vendor.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 153, ../sass/vendor.scss */
.animated.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes bounce {
  /* line 160, ../sass/vendor.scss */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  /* line 161, ../sass/vendor.scss */
  40% {
    -webkit-transform: translateY(-30px);
  }

  /* line 162, ../sass/vendor.scss */
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  /* line 166, ../sass/vendor.scss */
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  /* line 167, ../sass/vendor.scss */
  40% {
    -moz-transform: translateY(-30px);
  }

  /* line 168, ../sass/vendor.scss */
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  /* line 172, ../sass/vendor.scss */
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  /* line 173, ../sass/vendor.scss */
  40% {
    -o-transform: translateY(-30px);
  }

  /* line 174, ../sass/vendor.scss */
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  /* line 177, ../sass/vendor.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 178, ../sass/vendor.scss */
  40% {
    transform: translateY(-30px);
  }

  /* line 179, ../sass/vendor.scss */
  60% {
    transform: translateY(-15px);
  }
}

/* line 182, ../sass/vendor.scss */
.animated.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes tada {
  /* line 189, ../sass/vendor.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 190, ../sass/vendor.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 191, ../sass/vendor.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 192, ../sass/vendor.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 193, ../sass/vendor.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-moz-keyframes tada {
  /* line 197, ../sass/vendor.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 198, ../sass/vendor.scss */
  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  /* line 199, ../sass/vendor.scss */
  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 200, ../sass/vendor.scss */
  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  /* line 201, ../sass/vendor.scss */
  100% {
    -moz-transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  /* line 205, ../sass/vendor.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 206, ../sass/vendor.scss */
  10%, 20% {
    -o-transform: scale(0.9) rotate(-3deg);
  }

  /* line 207, ../sass/vendor.scss */
  30%, 50%, 70%, 90% {
    -o-transform: scale(1.1) rotate(3deg);
  }

  /* line 208, ../sass/vendor.scss */
  40%, 60%, 80% {
    -o-transform: scale(1.1) rotate(-3deg);
  }

  /* line 209, ../sass/vendor.scss */
  100% {
    -o-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  /* line 213, ../sass/vendor.scss */
  0% {
    transform: scale(1);
  }

  /* line 214, ../sass/vendor.scss */
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 215, ../sass/vendor.scss */
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 216, ../sass/vendor.scss */
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 217, ../sass/vendor.scss */
  100% {
    transform: scale(1) rotate(0);
  }
}

/* line 220, ../sass/vendor.scss */
.animated.tada {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -o-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes swing {
  /* line 227, ../sass/vendor.scss */
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center;
  }

  /* line 228, ../sass/vendor.scss */
  20% {
    -webkit-transform: rotate(15deg);
  }

  /* line 229, ../sass/vendor.scss */
  40% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 230, ../sass/vendor.scss */
  60% {
    -webkit-transform: rotate(5deg);
  }

  /* line 231, ../sass/vendor.scss */
  80% {
    -webkit-transform: rotate(-5deg);
  }

  /* line 232, ../sass/vendor.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes swing {
  /* line 236, ../sass/vendor.scss */
  20% {
    -moz-transform: rotate(15deg);
  }

  /* line 237, ../sass/vendor.scss */
  40% {
    -moz-transform: rotate(-10deg);
  }

  /* line 238, ../sass/vendor.scss */
  60% {
    -moz-transform: rotate(5deg);
  }

  /* line 239, ../sass/vendor.scss */
  80% {
    -moz-transform: rotate(-5deg);
  }

  /* line 240, ../sass/vendor.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes swing {
  /* line 244, ../sass/vendor.scss */
  20% {
    -o-transform: rotate(15deg);
  }

  /* line 245, ../sass/vendor.scss */
  40% {
    -o-transform: rotate(-10deg);
  }

  /* line 246, ../sass/vendor.scss */
  60% {
    -o-transform: rotate(5deg);
  }

  /* line 247, ../sass/vendor.scss */
  80% {
    -o-transform: rotate(-5deg);
  }

  /* line 248, ../sass/vendor.scss */
  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes swing {
  /* line 252, ../sass/vendor.scss */
  20% {
    transform: rotate(15deg);
  }

  /* line 253, ../sass/vendor.scss */
  40% {
    transform: rotate(-10deg);
  }

  /* line 254, ../sass/vendor.scss */
  60% {
    transform: rotate(5deg);
  }

  /* line 255, ../sass/vendor.scss */
  80% {
    transform: rotate(-5deg);
  }

  /* line 256, ../sass/vendor.scss */
  100% {
    transform: rotate(0deg);
  }
}

/* line 259, ../sass/vendor.scss */
.animated.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes wobble {
  /* line 272, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(0%);
  }

  /* line 273, ../sass/vendor.scss */
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }

  /* line 274, ../sass/vendor.scss */
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }

  /* line 275, ../sass/vendor.scss */
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }

  /* line 276, ../sass/vendor.scss */
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }

  /* line 277, ../sass/vendor.scss */
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }

  /* line 278, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes wobble {
  /* line 282, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(0%);
  }

  /* line 283, ../sass/vendor.scss */
  15% {
    -moz-transform: translateX(-25%) rotate(-5deg);
  }

  /* line 284, ../sass/vendor.scss */
  30% {
    -moz-transform: translateX(20%) rotate(3deg);
  }

  /* line 285, ../sass/vendor.scss */
  45% {
    -moz-transform: translateX(-15%) rotate(-3deg);
  }

  /* line 286, ../sass/vendor.scss */
  60% {
    -moz-transform: translateX(10%) rotate(2deg);
  }

  /* line 287, ../sass/vendor.scss */
  75% {
    -moz-transform: translateX(-5%) rotate(-1deg);
  }

  /* line 288, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(0%);
  }
}

@-o-keyframes wobble {
  /* line 292, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(0%);
  }

  /* line 293, ../sass/vendor.scss */
  15% {
    -o-transform: translateX(-25%) rotate(-5deg);
  }

  /* line 294, ../sass/vendor.scss */
  30% {
    -o-transform: translateX(20%) rotate(3deg);
  }

  /* line 295, ../sass/vendor.scss */
  45% {
    -o-transform: translateX(-15%) rotate(-3deg);
  }

  /* line 296, ../sass/vendor.scss */
  60% {
    -o-transform: translateX(10%) rotate(2deg);
  }

  /* line 297, ../sass/vendor.scss */
  75% {
    -o-transform: translateX(-5%) rotate(-1deg);
  }

  /* line 298, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(0%);
  }
}

@keyframes wobble {
  /* line 302, ../sass/vendor.scss */
  0% {
    transform: translateX(0%);
  }

  /* line 303, ../sass/vendor.scss */
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }

  /* line 304, ../sass/vendor.scss */
  30% {
    transform: translateX(20%) rotate(3deg);
  }

  /* line 305, ../sass/vendor.scss */
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }

  /* line 306, ../sass/vendor.scss */
  60% {
    transform: translateX(10%) rotate(2deg);
  }

  /* line 307, ../sass/vendor.scss */
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }

  /* line 308, ../sass/vendor.scss */
  100% {
    transform: translateX(0%);
  }
}

/* line 311, ../sass/vendor.scss */
.animated.wobble {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  /* line 320, ../sass/vendor.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 321, ../sass/vendor.scss */
  50% {
    -webkit-transform: scale(1.1);
  }

  /* line 322, ../sass/vendor.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  /* line 325, ../sass/vendor.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 326, ../sass/vendor.scss */
  50% {
    -moz-transform: scale(1.1);
  }

  /* line 327, ../sass/vendor.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes pulse {
  /* line 330, ../sass/vendor.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 331, ../sass/vendor.scss */
  50% {
    -o-transform: scale(1.1);
  }

  /* line 332, ../sass/vendor.scss */
  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  /* line 335, ../sass/vendor.scss */
  0% {
    transform: scale(1);
  }

  /* line 336, ../sass/vendor.scss */
  50% {
    transform: scale(1.1);
  }

  /* line 337, ../sass/vendor.scss */
  100% {
    transform: scale(1);
  }
}

/* line 340, ../sass/vendor.scss */
.animated.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes flip {
  /* line 347, ../sass/vendor.scss */
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 351, ../sass/vendor.scss */
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 355, ../sass/vendor.scss */
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 359, ../sass/vendor.scss */
  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 363, ../sass/vendor.scss */
  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes flip {
  /* line 369, ../sass/vendor.scss */
  0% {
    -moz-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -moz-animation-timing-function: ease-out;
  }

  /* line 373, ../sass/vendor.scss */
  40% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -moz-animation-timing-function: ease-out;
  }

  /* line 377, ../sass/vendor.scss */
  50% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -moz-animation-timing-function: ease-in;
  }

  /* line 381, ../sass/vendor.scss */
  80% {
    -moz-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -moz-animation-timing-function: ease-in;
  }

  /* line 385, ../sass/vendor.scss */
  100% {
    -moz-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -moz-animation-timing-function: ease-in;
  }
}

@-o-keyframes flip {
  /* line 391, ../sass/vendor.scss */
  0% {
    -o-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -o-animation-timing-function: ease-out;
  }

  /* line 395, ../sass/vendor.scss */
  40% {
    -o-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -o-animation-timing-function: ease-out;
  }

  /* line 399, ../sass/vendor.scss */
  50% {
    -o-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -o-animation-timing-function: ease-in;
  }

  /* line 403, ../sass/vendor.scss */
  80% {
    -o-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -o-animation-timing-function: ease-in;
  }

  /* line 407, ../sass/vendor.scss */
  100% {
    -o-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -o-animation-timing-function: ease-in;
  }
}

@keyframes flip {
  /* line 413, ../sass/vendor.scss */
  0% {
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    animation-timing-function: ease-out;
  }

  /* line 417, ../sass/vendor.scss */
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    animation-timing-function: ease-out;
  }

  /* line 421, ../sass/vendor.scss */
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }

  /* line 425, ../sass/vendor.scss */
  80% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }

  /* line 429, ../sass/vendor.scss */
  100% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    animation-timing-function: ease-in;
  }
}

/* line 435, ../sass/vendor.scss */
.animated.flip {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flip;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flip;
  -o-backface-visibility: visible !important;
  -o-animation-name: flip;
  backface-visibility: visible !important;
  animation-name: flip;
}

@-webkit-keyframes flipInX {
  /* line 446, ../sass/vendor.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 451, ../sass/vendor.scss */
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 455, ../sass/vendor.scss */
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }

  /* line 459, ../sass/vendor.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  /* line 465, ../sass/vendor.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 470, ../sass/vendor.scss */
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 474, ../sass/vendor.scss */
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }

  /* line 478, ../sass/vendor.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  /* line 484, ../sass/vendor.scss */
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 489, ../sass/vendor.scss */
  40% {
    -o-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 493, ../sass/vendor.scss */
  70% {
    -o-transform: perspective(400px) rotateX(10deg);
  }

  /* line 497, ../sass/vendor.scss */
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  /* line 503, ../sass/vendor.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 508, ../sass/vendor.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 512, ../sass/vendor.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 516, ../sass/vendor.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

/* line 522, ../sass/vendor.scss */
.animated.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX {
  /* line 533, ../sass/vendor.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 537, ../sass/vendor.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutX {
  /* line 544, ../sass/vendor.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 548, ../sass/vendor.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutX {
  /* line 555, ../sass/vendor.scss */
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 559, ../sass/vendor.scss */
  100% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  /* line 566, ../sass/vendor.scss */
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 570, ../sass/vendor.scss */
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

/* line 576, ../sass/vendor.scss */
.animated.flipOutX {
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@-webkit-keyframes flipInY {
  /* line 587, ../sass/vendor.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 592, ../sass/vendor.scss */
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }

  /* line 596, ../sass/vendor.scss */
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }

  /* line 600, ../sass/vendor.scss */
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInY {
  /* line 606, ../sass/vendor.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 611, ../sass/vendor.scss */
  40% {
    -moz-transform: perspective(400px) rotateY(-10deg);
  }

  /* line 615, ../sass/vendor.scss */
  70% {
    -moz-transform: perspective(400px) rotateY(10deg);
  }

  /* line 619, ../sass/vendor.scss */
  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInY {
  /* line 625, ../sass/vendor.scss */
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 630, ../sass/vendor.scss */
  40% {
    -o-transform: perspective(400px) rotateY(-10deg);
  }

  /* line 634, ../sass/vendor.scss */
  70% {
    -o-transform: perspective(400px) rotateY(10deg);
  }

  /* line 638, ../sass/vendor.scss */
  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flipInY {
  /* line 644, ../sass/vendor.scss */
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 649, ../sass/vendor.scss */
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }

  /* line 653, ../sass/vendor.scss */
  70% {
    transform: perspective(400px) rotateY(10deg);
  }

  /* line 657, ../sass/vendor.scss */
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

/* line 663, ../sass/vendor.scss */
.animated.flipInY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInY;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInY;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@-webkit-keyframes flipOutY {
  /* line 674, ../sass/vendor.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 678, ../sass/vendor.scss */
  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutY {
  /* line 684, ../sass/vendor.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 688, ../sass/vendor.scss */
  100% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutY {
  /* line 694, ../sass/vendor.scss */
  0% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 698, ../sass/vendor.scss */
  100% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  /* line 704, ../sass/vendor.scss */
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 708, ../sass/vendor.scss */
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

/* line 714, ../sass/vendor.scss */
.animated.flipOutY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipOutY;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipOutY;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@-webkit-keyframes fadeIn {
  /* line 725, ../sass/vendor.scss */
  0% {
    opacity: 0;
  }

  /* line 726, ../sass/vendor.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 730, ../sass/vendor.scss */
  0% {
    opacity: 0;
  }

  /* line 731, ../sass/vendor.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 735, ../sass/vendor.scss */
  0% {
    opacity: 0;
  }

  /* line 736, ../sass/vendor.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 740, ../sass/vendor.scss */
  0% {
    opacity: 0;
  }

  /* line 741, ../sass/vendor.scss */
  100% {
    opacity: 1;
  }
}

/* line 744, ../sass/vendor.scss */
.animated.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  /* line 751, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 756, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 763, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  /* line 768, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  /* line 775, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  /* line 780, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 787, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  /* line 792, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 798, ../sass/vendor.scss */
.animated.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  /* line 805, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 810, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 817, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 822, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 829, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  /* line 834, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 841, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 846, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 852, ../sass/vendor.scss */
.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  /* line 859, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  /* line 864, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  /* line 871, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  /* line 876, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  /* line 883, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  /* line 888, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  /* line 895, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  /* line 900, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 906, ../sass/vendor.scss */
.animated.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  /* line 913, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  /* line 918, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  /* line 925, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }

  /* line 930, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  /* line 937, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }

  /* line 942, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  /* line 949, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  /* line 954, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 960, ../sass/vendor.scss */
.animated.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUpBig {
  /* line 967, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  /* line 972, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUpBig {
  /* line 979, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  /* line 984, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUpBig {
  /* line 991, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }

  /* line 996, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  /* line 1003, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 1008, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1014, ../sass/vendor.scss */
.animated.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInDownBig {
  /* line 1021, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 1026, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDownBig {
  /* line 1033, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 1038, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDownBig {
  /* line 1045, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  /* line 1050, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  /* line 1057, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 1062, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1068, ../sass/vendor.scss */
.animated.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeftBig {
  /* line 1075, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 1080, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeftBig {
  /* line 1086, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 1091, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeftBig {
  /* line 1097, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  /* line 1102, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeftBig {
  /* line 1108, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 1113, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 1119, ../sass/vendor.scss */
.animated.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
  /* line 1126, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 1131, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRightBig {
  /* line 1138, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 1143, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRightBig {
  /* line 1150, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }

  /* line 1155, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  /* line 1162, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 1167, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 1173, ../sass/vendor.scss */
.animated.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -o-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeOut {
  /* line 1180, ../sass/vendor.scss */
  0% {
    opacity: 1;
  }

  /* line 1181, ../sass/vendor.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 1185, ../sass/vendor.scss */
  0% {
    opacity: 1;
  }

  /* line 1186, ../sass/vendor.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  /* line 1190, ../sass/vendor.scss */
  0% {
    opacity: 1;
  }

  /* line 1191, ../sass/vendor.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 1195, ../sass/vendor.scss */
  0% {
    opacity: 1;
  }

  /* line 1196, ../sass/vendor.scss */
  100% {
    opacity: 0;
  }
}

/* line 1199, ../sass/vendor.scss */
.animated.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutUp {
  /* line 1206, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1211, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes fadeOutUp {
  /* line 1217, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1222, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}

@-o-keyframes fadeOutUp {
  /* line 1228, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1233, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  /* line 1239, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1244, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* line 1250, ../sass/vendor.scss */
.animated.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutDown {
  /* line 1257, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1262, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}

@-moz-keyframes fadeOutDown {
  /* line 1269, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1274, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
}

@-o-keyframes fadeOutDown {
  /* line 1281, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1286, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  /* line 1293, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1298, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* line 1304, ../sass/vendor.scss */
.animated.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
  /* line 1311, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1316, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@-moz-keyframes fadeOutLeft {
  /* line 1323, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1328, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}

@-o-keyframes fadeOutLeft {
  /* line 1335, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1340, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  /* line 1347, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1352, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* line 1358, ../sass/vendor.scss */
.animated.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
  /* line 1365, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1370, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-moz-keyframes fadeOutRight {
  /* line 1377, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1382, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}

@-o-keyframes fadeOutRight {
  /* line 1389, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1394, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  /* line 1401, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1406, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* line 1412, ../sass/vendor.scss */
.animated.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutUpBig {
  /* line 1419, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1424, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes fadeOutUpBig {
  /* line 1431, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1436, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-o-keyframes fadeOutUpBig {
  /* line 1443, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1448, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
}

@keyframes fadeOutUpBig {
  /* line 1455, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1460, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

/* line 1466, ../sass/vendor.scss */
.animated.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  -moz-animation-name: fadeOutUpBig;
  -o-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

@-webkit-keyframes fadeOutDownBig {
  /* line 1473, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1478, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@-moz-keyframes fadeOutDownBig {
  /* line 1485, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1490, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}

@-o-keyframes fadeOutDownBig {
  /* line 1497, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1502, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
}

@keyframes fadeOutDownBig {
  /* line 1509, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1514, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

/* line 1520, ../sass/vendor.scss */
.animated.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  -moz-animation-name: fadeOutDownBig;
  -o-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeftBig {
  /* line 1527, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1532, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-moz-keyframes fadeOutLeftBig {
  /* line 1539, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1544, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-o-keyframes fadeOutLeftBig {
  /* line 1551, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1556, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
}

@keyframes fadeOutLeftBig {
  /* line 1563, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1568, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

/* line 1574, ../sass/vendor.scss */
.animated.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  -moz-animation-name: fadeOutLeftBig;
  -o-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRightBig {
  /* line 1581, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1586, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@-moz-keyframes fadeOutRightBig {
  /* line 1592, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1597, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}

@-o-keyframes fadeOutRightBig {
  /* line 1603, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1608, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
}

@keyframes fadeOutRightBig {
  /* line 1614, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1619, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

/* line 1625, ../sass/vendor.scss */
.animated.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  -moz-animation-name: fadeOutRightBig;
  -o-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

@-webkit-keyframes bounceIn {
  /* line 1632, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }

  /* line 1637, ../sass/vendor.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  /* line 1642, ../sass/vendor.scss */
  70% {
    -webkit-transform: scale(0.9);
  }

  /* line 1646, ../sass/vendor.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  /* line 1652, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }

  /* line 1657, ../sass/vendor.scss */
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  /* line 1662, ../sass/vendor.scss */
  70% {
    -moz-transform: scale(0.9);
  }

  /* line 1666, ../sass/vendor.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  /* line 1672, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }

  /* line 1677, ../sass/vendor.scss */
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }

  /* line 1682, ../sass/vendor.scss */
  70% {
    -o-transform: scale(0.9);
  }

  /* line 1686, ../sass/vendor.scss */
  100% {
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  /* line 1692, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  /* line 1697, ../sass/vendor.scss */
  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  /* line 1702, ../sass/vendor.scss */
  70% {
    transform: scale(0.9);
  }

  /* line 1706, ../sass/vendor.scss */
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes slideInDown {
  /* line 1712, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 1717, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideInDown {
  /* line 1723, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 1728, ../sass/vendor.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideInDown {
  /* line 1734, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  /* line 1739, ../sass/vendor.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideInDown {
  /* line 1745, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 1750, ../sass/vendor.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 1755, ../sass/vendor.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  /* line 1763, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 1768, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideInLeft {
  /* line 1774, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 1779, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes slideInLeft {
  /* line 1785, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  /* line 1790, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes slideInLeft {
  /* line 1796, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 1801, ../sass/vendor.scss */
  100% {
    transform: translateX(0);
  }
}

/* line 1806, ../sass/vendor.scss */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  -moz-animation-name: slideInLeft;
  -o-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  /* line 1814, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 1819, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideInRight {
  /* line 1825, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 1830, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes slideInRight {
  /* line 1836, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }

  /* line 1841, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes slideInRight {
  /* line 1847, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 1852, ../sass/vendor.scss */
  100% {
    transform: translateX(0);
  }
}

/* line 1857, ../sass/vendor.scss */
.slideInRight {
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  -o-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  /* line 1865, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 1869, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-moz-keyframes slideOutLeft {
  /* line 1876, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 1880, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-o-keyframes slideOutLeft {
  /* line 1887, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(0);
  }

  /* line 1891, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
}

@keyframes slideOutLeft {
  /* line 1898, ../sass/vendor.scss */
  0% {
    transform: translateX(0);
  }

  /* line 1902, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

/* line 1908, ../sass/vendor.scss */
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  -moz-animation-name: slideOutLeft;
  -o-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  /* line 1916, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 1920, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@-moz-keyframes slideOutRight {
  /* line 1927, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 1931, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}

@-o-keyframes slideOutRight {
  /* line 1938, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(0);
  }

  /* line 1942, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
}

@keyframes slideOutRight {
  /* line 1949, ../sass/vendor.scss */
  0% {
    transform: translateX(0);
  }

  /* line 1953, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

/* line 1959, ../sass/vendor.scss */
.slideOutRight {
  -webkit-animation-name: slideOutRight;
  -moz-animation-name: slideOutRight;
  -o-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

@-webkit-keyframes slideOutUp {
  /* line 1967, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 1971, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes slideOutUp {
  /* line 1978, ../sass/vendor.scss */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 1982, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-o-keyframes slideOutUp {
  /* line 1989, ../sass/vendor.scss */
  0% {
    -o-transform: translateY(0);
  }

  /* line 1993, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
}

@keyframes slideOutUp {
  /* line 2000, ../sass/vendor.scss */
  0% {
    transform: translateY(0);
  }

  /* line 2004, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

/* line 2010, ../sass/vendor.scss */
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  -moz-animation-name: slideOutUp;
  -o-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

/* line 2017, ../sass/vendor.scss */
.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInUp {
  /* line 2024, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  /* line 2029, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }

  /* line 2034, ../sass/vendor.scss */
  80% {
    -webkit-transform: translateY(10px);
  }

  /* line 2038, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  /* line 2043, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  /* line 2048, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }

  /* line 2053, ../sass/vendor.scss */
  80% {
    -moz-transform: translateY(10px);
  }

  /* line 2057, ../sass/vendor.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInUp {
  /* line 2063, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }

  /* line 2068, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(-30px);
  }

  /* line 2073, ../sass/vendor.scss */
  80% {
    -o-transform: translateY(10px);
  }

  /* line 2077, ../sass/vendor.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  /* line 2083, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 2088, ../sass/vendor.scss */
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  /* line 2093, ../sass/vendor.scss */
  80% {
    transform: translateY(10px);
  }

  /* line 2097, ../sass/vendor.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 2102, ../sass/vendor.scss */
.animated.bounceInUp {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
  /* line 2109, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 2114, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  /* line 2119, ../sass/vendor.scss */
  80% {
    -webkit-transform: translateY(-10px);
  }

  /* line 2123, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  /* line 2129, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 2134, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  /* line 2139, ../sass/vendor.scss */
  80% {
    -moz-transform: translateY(-10px);
  }

  /* line 2143, ../sass/vendor.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  /* line 2149, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  /* line 2154, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  /* line 2159, ../sass/vendor.scss */
  80% {
    -o-transform: translateY(-10px);
  }

  /* line 2163, ../sass/vendor.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  /* line 2169, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 2174, ../sass/vendor.scss */
  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  /* line 2179, ../sass/vendor.scss */
  80% {
    transform: translateY(-10px);
  }

  /* line 2183, ../sass/vendor.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 2188, ../sass/vendor.scss */
.animated.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  /* line 2195, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 2200, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }

  /* line 2205, ../sass/vendor.scss */
  80% {
    -webkit-transform: translateX(-10px);
  }

  /* line 2209, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  /* line 2215, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 2220, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }

  /* line 2225, ../sass/vendor.scss */
  80% {
    -moz-transform: translateX(-10px);
  }

  /* line 2229, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  /* line 2235, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  /* line 2240, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }

  /* line 2245, ../sass/vendor.scss */
  80% {
    -o-transform: translateX(-10px);
  }

  /* line 2249, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  /* line 2255, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 2260, ../sass/vendor.scss */
  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  /* line 2265, ../sass/vendor.scss */
  80% {
    transform: translateX(-10px);
  }

  /* line 2269, ../sass/vendor.scss */
  100% {
    transform: translateX(0);
  }
}

/* line 2274, ../sass/vendor.scss */
.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  /* line 2281, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 2286, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }

  /* line 2291, ../sass/vendor.scss */
  80% {
    -webkit-transform: translateX(10px);
  }

  /* line 2295, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInRight {
  /* line 2301, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 2306, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
  }

  /* line 2311, ../sass/vendor.scss */
  80% {
    -moz-transform: translateX(10px);
  }

  /* line 2315, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInRight {
  /* line 2321, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }

  /* line 2326, ../sass/vendor.scss */
  60% {
    opacity: 1;
    -o-transform: translateX(-30px);
  }

  /* line 2331, ../sass/vendor.scss */
  80% {
    -o-transform: translateX(10px);
  }

  /* line 2335, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes bounceInRight {
  /* line 2341, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 2346, ../sass/vendor.scss */
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  /* line 2351, ../sass/vendor.scss */
  80% {
    transform: translateX(10px);
  }

  /* line 2355, ../sass/vendor.scss */
  100% {
    transform: translateX(0);
  }
}

/* line 2360, ../sass/vendor.scss */
.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceOut {
  /* line 2367, ../sass/vendor.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 2371, ../sass/vendor.scss */
  25% {
    -webkit-transform: scale(0.95);
  }

  /* line 2375, ../sass/vendor.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }

  /* line 2380, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes bounceOut {
  /* line 2387, ../sass/vendor.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 2391, ../sass/vendor.scss */
  25% {
    -moz-transform: scale(0.95);
  }

  /* line 2395, ../sass/vendor.scss */
  50% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }

  /* line 2400, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
}

@-o-keyframes bounceOut {
  /* line 2407, ../sass/vendor.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 2411, ../sass/vendor.scss */
  25% {
    -o-transform: scale(0.95);
  }

  /* line 2415, ../sass/vendor.scss */
  50% {
    opacity: 1;
    -o-transform: scale(1.1);
  }

  /* line 2420, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
}

@keyframes bounceOut {
  /* line 2427, ../sass/vendor.scss */
  0% {
    transform: scale(1);
  }

  /* line 2431, ../sass/vendor.scss */
  25% {
    transform: scale(0.95);
  }

  /* line 2435, ../sass/vendor.scss */
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  /* line 2440, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

/* line 2446, ../sass/vendor.scss */
.animated.bounceOut {
  -webkit-animation-name: bounceOut;
  -moz-animation-name: bounceOut;
  -o-animation-name: bounceOut;
  animation-name: bounceOut;
}

@-webkit-keyframes bounceOutUp {
  /* line 2453, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 2457, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  /* line 2462, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes bounceOutUp {
  /* line 2469, ../sass/vendor.scss */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 2473, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }

  /* line 2478, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-o-keyframes bounceOutUp {
  /* line 2485, ../sass/vendor.scss */
  0% {
    -o-transform: translateY(0);
  }

  /* line 2489, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -o-transform: translateY(20px);
  }

  /* line 2494, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  /* line 2501, ../sass/vendor.scss */
  0% {
    transform: translateY(0);
  }

  /* line 2505, ../sass/vendor.scss */
  20% {
    opacity: 1;
    transform: translateY(20px);
  }

  /* line 2510, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

/* line 2516, ../sass/vendor.scss */
.animated.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes bounceOutDown {
  /* line 2523, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 2527, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  /* line 2532, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@-moz-keyframes bounceOutDown {
  /* line 2539, ../sass/vendor.scss */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 2543, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  /* line 2548, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}

@-o-keyframes bounceOutDown {
  /* line 2555, ../sass/vendor.scss */
  0% {
    -o-transform: translateY(0);
  }

  /* line 2559, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -o-transform: translateY(-20px);
  }

  /* line 2564, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
}

@keyframes bounceOutDown {
  /* line 2571, ../sass/vendor.scss */
  0% {
    transform: translateY(0);
  }

  /* line 2575, ../sass/vendor.scss */
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }

  /* line 2580, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

/* line 2586, ../sass/vendor.scss */
.animated.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  -moz-animation-name: bounceOutDown;
  -o-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

@-webkit-keyframes bounceOutLeft {
  /* line 2593, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 2597, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  /* line 2602, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-moz-keyframes bounceOutLeft {
  /* line 2609, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 2613, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  /* line 2618, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-o-keyframes bounceOutLeft {
  /* line 2625, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(0);
  }

  /* line 2629, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -o-transform: translateX(20px);
  }

  /* line 2634, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
}

@keyframes bounceOutLeft {
  /* line 2641, ../sass/vendor.scss */
  0% {
    transform: translateX(0);
  }

  /* line 2645, ../sass/vendor.scss */
  20% {
    opacity: 1;
    transform: translateX(20px);
  }

  /* line 2650, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

/* line 2656, ../sass/vendor.scss */
.animated.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  -moz-animation-name: bounceOutLeft;
  -o-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
  /* line 2663, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(0);
  }

  /* line 2667, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  /* line 2672, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@-moz-keyframes bounceOutRight {
  /* line 2679, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(0);
  }

  /* line 2683, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  /* line 2688, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}

@-o-keyframes bounceOutRight {
  /* line 2695, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(0);
  }

  /* line 2699, ../sass/vendor.scss */
  20% {
    opacity: 1;
    -o-transform: translateX(-20px);
  }

  /* line 2704, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
}

@keyframes bounceOutRight {
  /* line 2711, ../sass/vendor.scss */
  0% {
    transform: translateX(0);
  }

  /* line 2715, ../sass/vendor.scss */
  20% {
    opacity: 1;
    transform: translateX(-20px);
  }

  /* line 2720, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

/* line 2726, ../sass/vendor.scss */
.animated.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  -moz-animation-name: bounceOutRight;
  -o-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

@-webkit-keyframes rotateIn {
  /* line 2733, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 2739, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateIn {
  /* line 2746, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 2752, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateIn {
  /* line 2759, ../sass/vendor.scss */
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 2765, ../sass/vendor.scss */
  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  /* line 2772, ../sass/vendor.scss */
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }

  /* line 2778, ../sass/vendor.scss */
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}

/* line 2785, ../sass/vendor.scss */
.animated.rotateIn {
  -webkit-animation-name: rotateIn;
  -moz-animation-name: rotateIn;
  -o-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInUpLeft {
  /* line 2792, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 2798, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInUpLeft {
  /* line 2806, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 2812, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateInUpLeft {
  /* line 2820, ../sass/vendor.scss */
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 2826, ../sass/vendor.scss */
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeft {
  /* line 2834, ../sass/vendor.scss */
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  /* line 2840, ../sass/vendor.scss */
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

/* line 2847, ../sass/vendor.scss */
.animated.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  -moz-animation-name: rotateInUpLeft;
  -o-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

@-webkit-keyframes rotateInDownLeft {
  /* line 2854, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2860, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInDownLeft {
  /* line 2868, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2874, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateInDownLeft {
  /* line 2882, ../sass/vendor.scss */
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2888, ../sass/vendor.scss */
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  /* line 2896, ../sass/vendor.scss */
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2902, ../sass/vendor.scss */
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

/* line 2909, ../sass/vendor.scss */
.animated.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  -moz-animation-name: rotateInDownLeft;
  -o-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@-webkit-keyframes rotateInUpRight {
  /* line 2916, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2922, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInUpRight {
  /* line 2930, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2936, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateInUpRight {
  /* line 2944, ../sass/vendor.scss */
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2950, ../sass/vendor.scss */
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  /* line 2958, ../sass/vendor.scss */
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 2964, ../sass/vendor.scss */
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

/* line 2971, ../sass/vendor.scss */
.animated.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  -moz-animation-name: rotateInUpRight;
  -o-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}

@-webkit-keyframes rotateInDownRight {
  /* line 2978, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 2984, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInDownRight {
  /* line 2992, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 2998, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateInDownRight {
  /* line 3006, ../sass/vendor.scss */
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 3012, ../sass/vendor.scss */
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  /* line 3020, ../sass/vendor.scss */
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  /* line 3026, ../sass/vendor.scss */
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

/* line 3033, ../sass/vendor.scss */
.animated.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  -moz-animation-name: rotateInDownRight;
  -o-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

@-webkit-keyframes rotateOut {
  /* line 3040, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 3046, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(200deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOut {
  /* line 3054, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 3060, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(200deg);
    opacity: 0;
  }
}

@-o-keyframes rotateOut {
  /* line 3068, ../sass/vendor.scss */
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }

  /* line 3074, ../sass/vendor.scss */
  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(200deg);
    opacity: 0;
  }
}

@keyframes rotateOut {
  /* line 3082, ../sass/vendor.scss */
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 3088, ../sass/vendor.scss */
  100% {
    transform-origin: center center;
    transform: rotate(200deg);
    opacity: 0;
  }
}

/* line 3095, ../sass/vendor.scss */
.animated.rotateOut {
  -webkit-animation-name: rotateOut;
  -moz-animation-name: rotateOut;
  -o-animation-name: rotateOut;
  animation-name: rotateOut;
}

@-webkit-keyframes rotateOutUpLeft {
  /* line 3102, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 3108, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutUpLeft {
  /* line 3116, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 3122, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-o-keyframes rotateOutUpLeft {
  /* line 3130, ../sass/vendor.scss */
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }

  /* line 3136, ../sass/vendor.scss */
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpLeft {
  /* line 3144, ../sass/vendor.scss */
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 3150, ../sass/vendor.scss */
  100% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}

/* line 3157, ../sass/vendor.scss */
.animated.rotateOutUpLeft {
  -webkit-animation-name: rotateOutUpLeft;
  -moz-animation-name: rotateOutUpLeft;
  -o-animation-name: rotateOutUpLeft;
  animation-name: rotateOutUpLeft;
}

@-webkit-keyframes rotateOutDownLeft {
  /* line 3164, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 3170, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutDownLeft {
  /* line 3178, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 3184, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}

@-o-keyframes rotateOutDownLeft {
  /* line 3192, ../sass/vendor.scss */
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }

  /* line 3198, ../sass/vendor.scss */
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownLeft {
  /* line 3206, ../sass/vendor.scss */
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 3212, ../sass/vendor.scss */
  100% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}

/* line 3219, ../sass/vendor.scss */
.animated.rotateOutDownLeft {
  -webkit-animation-name: rotateOutDownLeft;
  -moz-animation-name: rotateOutDownLeft;
  -o-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
}

@-webkit-keyframes rotateOutUpRight {
  /* line 3226, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 3232, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutUpRight {
  /* line 3240, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 3246, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}

@-o-keyframes rotateOutUpRight {
  /* line 3254, ../sass/vendor.scss */
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }

  /* line 3260, ../sass/vendor.scss */
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpRight {
  /* line 3268, ../sass/vendor.scss */
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 3274, ../sass/vendor.scss */
  100% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}

/* line 3281, ../sass/vendor.scss */
.animated.rotateOutUpRight {
  -webkit-animation-name: rotateOutUpRight;
  -moz-animation-name: rotateOutUpRight;
  -o-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
}

@-webkit-keyframes rotateOutDownRight {
  /* line 3288, ../sass/vendor.scss */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 3294, ../sass/vendor.scss */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutDownRight {
  /* line 3302, ../sass/vendor.scss */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 3308, ../sass/vendor.scss */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}

@-o-keyframes rotateOutDownRight {
  /* line 3316, ../sass/vendor.scss */
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }

  /* line 3322, ../sass/vendor.scss */
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownRight {
  /* line 3330, ../sass/vendor.scss */
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 3336, ../sass/vendor.scss */
  100% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}

/* line 3343, ../sass/vendor.scss */
.animated.rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
  -moz-animation-name: rotateOutDownRight;
  -o-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}

@-webkit-keyframes hinge {
  /* line 3350, ../sass/vendor.scss */
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 3351, ../sass/vendor.scss */
  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 3352, ../sass/vendor.scss */
  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 3353, ../sass/vendor.scss */
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 3354, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateY(700px);
    opacity: 0;
  }
}

@-moz-keyframes hinge {
  /* line 3358, ../sass/vendor.scss */
  0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  /* line 3359, ../sass/vendor.scss */
  20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  /* line 3360, ../sass/vendor.scss */
  40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  /* line 3361, ../sass/vendor.scss */
  80% {
    -moz-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  /* line 3362, ../sass/vendor.scss */
  100% {
    -moz-transform: translateY(700px);
    opacity: 0;
  }
}

@-o-keyframes hinge {
  /* line 3366, ../sass/vendor.scss */
  0% {
    -o-transform: rotate(0);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out;
  }

  /* line 3367, ../sass/vendor.scss */
  20%, 60% {
    -o-transform: rotate(80deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out;
  }

  /* line 3368, ../sass/vendor.scss */
  40% {
    -o-transform: rotate(60deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out;
  }

  /* line 3369, ../sass/vendor.scss */
  80% {
    -o-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out;
  }

  /* line 3370, ../sass/vendor.scss */
  100% {
    -o-transform: translateY(700px);
    opacity: 0;
  }
}

@keyframes hinge {
  /* line 3374, ../sass/vendor.scss */
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  /* line 3375, ../sass/vendor.scss */
  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  /* line 3376, ../sass/vendor.scss */
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  /* line 3377, ../sass/vendor.scss */
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  /* line 3378, ../sass/vendor.scss */
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

/* line 3381, ../sass/vendor.scss */
.animated.hinge {
  -webkit-animation-name: hinge;
  -moz-animation-name: hinge;
  -o-animation-name: hinge;
  animation-name: hinge;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes rollIn {
  /* line 3390, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 3391, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes rollIn {
  /* line 3395, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 3396, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0px) rotate(0deg);
  }
}

@-o-keyframes rollIn {
  /* line 3400, ../sass/vendor.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 3401, ../sass/vendor.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  /* line 3405, ../sass/vendor.scss */
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  /* line 3406, ../sass/vendor.scss */
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

/* line 3409, ../sass/vendor.scss */
.animated.rollIn {
  -webkit-animation-name: rollIn;
  -moz-animation-name: rollIn;
  -o-animation-name: rollIn;
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes rollOut {
  /* line 3418, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }

  /* line 3423, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
  }
}

@-moz-keyframes rollOut {
  /* line 3430, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0px) rotate(0deg);
  }

  /* line 3435, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(100%) rotate(120deg);
  }
}

@-o-keyframes rollOut {
  /* line 3442, ../sass/vendor.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0px) rotate(0deg);
  }

  /* line 3447, ../sass/vendor.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(100%) rotate(120deg);
  }
}

@keyframes rollOut {
  /* line 3454, ../sass/vendor.scss */
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }

  /* line 3459, ../sass/vendor.scss */
  100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
}

/* line 3465, ../sass/vendor.scss */
.animated.rollOut {
  -webkit-animation-name: rollOut;
  -moz-animation-name: rollOut;
  -o-animation-name: rollOut;
  animation-name: rollOut;
}

/* originally authored by Angelo Rohit - https://github.com/angelorohit */
@-webkit-keyframes lightSpeedIn {
  /* line 3475, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 3476, ../sass/vendor.scss */
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 3477, ../sass/vendor.scss */
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 3478, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes lightSpeedIn {
  /* line 3482, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 3483, ../sass/vendor.scss */
  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 3484, ../sass/vendor.scss */
  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 3485, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-o-keyframes lightSpeedIn {
  /* line 3489, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 3490, ../sass/vendor.scss */
  60% {
    -o-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 3491, ../sass/vendor.scss */
  80% {
    -o-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 3492, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  /* line 3496, ../sass/vendor.scss */
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 3497, ../sass/vendor.scss */
  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 3498, ../sass/vendor.scss */
  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 3499, ../sass/vendor.scss */
  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

/* line 3502, ../sass/vendor.scss */
.animated.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  -moz-animation-name: lightSpeedIn;
  -o-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* line 3514, ../sass/vendor.scss */
.animated.lightSpeedIn {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* originally authored by Angelo Rohit - https://github.com/angelorohit */
@-webkit-keyframes lightSpeedOut {
  /* line 3524, ../sass/vendor.scss */
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 3525, ../sass/vendor.scss */
  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-moz-keyframes lightSpeedOut {
  /* line 3529, ../sass/vendor.scss */
  0% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 3530, ../sass/vendor.scss */
  100% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-o-keyframes lightSpeedOut {
  /* line 3534, ../sass/vendor.scss */
  0% {
    -o-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 3535, ../sass/vendor.scss */
  100% {
    -o-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  /* line 3539, ../sass/vendor.scss */
  0% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 3540, ../sass/vendor.scss */
  100% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

/* line 3543, ../sass/vendor.scss */
.animated.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  -moz-animation-name: lightSpeedOut;
  -o-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

/* line 3555, ../sass/vendor.scss */
.animated.lightSpeedOut {
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
