[[$doc_head]]
    <body class="interior">
[[$header]]
        <section class="hero">

                <ul class="slides">
                    <li style="background-image:url('[[*header-image]]');">
                        
                            <h1>[[*pagetitle]]</h1>
                        
                    </li>
               

        </section> 
        <section class="content">
            <div class="row-fluid wrap">
            [[*content]]
            [[$contact_form]]
        </div>
    </section>

[[$footer]]
[[$doc_footer]]
