[[$doc_head]]
    <body class="interior galleries">
[[$header]]
        <section class="hero">

                <ul class="slides">
                    <li style="background-image:url('[[*gallery-header]]');">
                        
                            <h1>[[*pagetitle]]</h1>

                    </li>
               
                </ul>

        </section> 
        <section class="content">
            <div class="row-fluid wrap">
              [[*content]]
                <div class="gallery row-fluid">
                  <ul class="slides row-fluid">
                    [[Gallery? 
                        &album=`[[*album]]`
                        &use_richtext =`true`
                        &thumbTpl=`gallery`
                        &thumbHeight=`400`
                        &thumbWidth=`400`
                        &thumbFar=`BL`
                    ]]
                            
                  </ul>
                </div>
            </div>
        </section>
[[$footer]]
[[$doc_footer]]
