[[$doc_head]]
    <body>
[[$header]]
        <section class="hero">
            <div id="hero-slider" class="flexslider">
                <ul class="slides">
                    
                    [[getResources? &parents=`-1` &sortby=`{"menuindex":"ASC"}` &limit=`0` &includeContent=`1` &tpl=`featured-gallery` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &resources=`[[*galleries]]`]]
                    
                </ul>
            </div>
        </section>
        <section class="specials">
            <div id="promotions-slider" class="flexslider">
                <ul class="slides">
                [[getResources? &parents=`7` &sortby=`{"menuindex":"ASC"}` &limit=`0` &includeContent=`1` &tpl=`promotions` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
                </ul>
            </div>
            <h2 class="recent">Recent Photos</h3>
        </section>
        <section class="recentphotos row-fluid">
            <ul>
                [[Gallery? 
                &album=`[[*recent-album]]`
                &use_richtext =`true`
                &thumbTpl=`featured`
                &thumbHeight=`400`
                &thumbWidth=`400`
                &thumbFar=`BL`
                &limit=`12`
            ]]
                
            </ul>
        </section>
        <section class="wrap faq">
            <h2>Frequently Asked Questions</h2>
            <ul class="row-fluid">
                [[!getImageList? &tvname=`faq` &tpl=`faq-item`]]
            </ul>
        </section>
[[$footer]]
[[$doc_footer]]
