[[$doc_head]]
    <body class="interior">
[[$header]]
        <section class="hero">
            
                <ul class="slides">
                    <li style="background-image:url('[[*header-image]]');">
                        
                            <h1>[[*pagetitle]]</h1>
                       
                    </li>
               
                </ul>

        </section> 
        <section class="content">
            <div class="row-fluid wrap">
            [[*content]]
            </div>
            <ul class="col2 image-callout cf">
    <li><img src="[[*left-image]]" alt=""></li>
    <li><img src="[[*right-image]]" alt=""></li>
</ul>
        </section>
[[$footer]]
[[$doc_footer]]
