[[$doc_head]]
    <body class="interior">
[[$header]]
        <section class="hero">
            <div>
                <ul class="slides">
                    <li style="background-image:url('[[*header-image]]');">
                        
                            <h1>[[*pagetitle]]</h1>

                    </li>
               
                </ul>
            </div>
        </section> 
        <section class="content">
            <div class="row-fluid wrap">
                <ul class="gallery">
                    [[getResources? &parents=`2` &sortby=`{"menuindex":"ASC"}` &limit=`0` &includeContent=`1` &tpl=`services_item` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
                </ul>
            </div>
        </section>
[[$footer]]
[[$doc_footer]]
